body,head,header,footer,section,a,nav,
li,ul,progress,html,details,summary,img,
p,h1,h2,meta,title,label{
	padding:0px;
	border:0px;
	margin:0px;
}


header{
    height:5%;
    width:100%;
    position:absolute;
    background:#63d9f7;
    text-align: left;
    padding-top:1%;
    padding-left:none;
}

header a{
    width:5%;
    margin-left:1%;
    text-decoration:none;
    color:#000000;
}

#home{
    text-align: right;
    padding-right:none;
    margin-top:none;
    position:relative;
}

section{
    width : 40%;
    height : 70%;
    margin-top:6%;
    margin-left:30%;
    padding:2%;
    background: url("Employee.png");
    position:absolute;
}

input, textarea{
    position:relative;
    width:40%;
    margin-left:24%;
}

b{
    margin-top:2%;
}

form{
    padding:8%;
}

input{
    margin-top:2%;
}

textarea{
    margin-top:2%;
}

#submit{
    width:160%;
    height:180%;
    background-color:#63d9f7;
}